.kEzRFpJ4O2JxJtjWc3He {
    font-weight: 800;
}

.bPKsQJuJxRs7BM6gsvQw {
    font-weight: 700;
}

.X_7WCHtvAVQrpQ2fU_ON {
    font-weight: 600;
}

.moEifagPFSP6LuUKtmnZ {
    font-weight: 500;
}

.cr_oxgflbUjEpkaY4O6b {
    font-weight: 400;
}

.QJyweW6sa3DhWdSPWLzA {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.Tbz0qZbiM1ka8R5hIaw5 {
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.kn8FszOxHN0MsAnGFQsz {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.apNPR9p0OwySCOxO2dvD {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.se2KjUOVCpgXHwG4glkI {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.xMJYDAJweCLYWi67Io_T {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.ETY4vS1yfx_G1Sr5OElo {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.kkLyuO9rdyxjp6NJczZD {
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.AzNmZ8_0WlmPUXJtWJna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding: 8px 32px 8px 8px;
    border-radius: 16px;
    border: 1px solid rgb(var(--surfaceStrokeUp1));
    background: rgb(var(--surfaceLower));
    min-height: 44px;
}

.kg5SBqtzLUTjVVJHkeAq {
    color: rgb(var(--textInvalid));
}

.yr245eWHtqgZcMvLBi8_ {
    color: rgb(var(--textSecondary));
}

.u52ax3JkvCwVToxDKYFv {
    --buttonBorderColor: rgb(var(--surfaceStrokeUp1));
    --buttonBackgroundColor: rgb(var(--surfaceSecondary));
    --buttonColor: rgb(var(--textPrimary));
    --buttonBackgroundColorHover: rgb(var(--stateSurfaceSecondaryHover));
    --buttonBorderWidth: 1px;
    --buttonBorderRadius: 8px;
    --paddingX: auto;
    --paddingY: auto;
    --buttonTransitionDuration: 0.2s;

    display: flex;
    align-items: center;
    padding-inline: var(--paddingX);
    padding-block: var(--paddingY);
    border-width: var(--buttonBorderWidth);
    border-style: solid;
    border-color: var(--buttonBorderColor);
    border-radius: var(--buttonBorderRadius);
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonColor);
    transition: transform var(--buttonTransitionDuration), opacity var(--buttonTransitionDuration), background-color var(--buttonTransitionDuration);
    cursor: pointer;

    &.fLdleYh6SCeLW1LyrHZY {
        opacity: 0.5;
        cursor: not-allowed;
        user-select: none;
    }

    &:not(.fLdleYh6SCeLW1LyrHZY, .VljPPV5nC3tpL9E2c_RG):hover {
        background-color: var(--buttonBackgroundColorHover);
    }

    &.XpGAO7nOauas0XqiQZE0 {
        --paddingX: 2px;
        --paddingY: 2px;
        --buttonBorderRadius: 50%;
    }

    &.OtQNUaulkY5bQqaJHUKT {
        --buttonBackgroundColor: rgb(var(--surfaceAccent));
        --buttonColor: rgb(var(--textPrimaryAccent));

        border: none;
    }

    &.OtQNUaulkY5bQqaJHUKT:not(.fLdleYh6SCeLW1LyrHZY, .VljPPV5nC3tpL9E2c_RG):hover {
        background-color: rgb(var(--stateSurfaceAccentHover));
    }

    &.Eg7jCXqmSB25DimtIz4w,
    &.Eg7jCXqmSB25DimtIz4w:not(.fLdleYh6SCeLW1LyrHZY, .VljPPV5nC3tpL9E2c_RG):hover {
        --buttonBackgroundColor: rgb(var(--surfaceStrokeUp));
        --buttonBackgroundColorHover: rgb(var(--surfaceStrokeUp));
        --buttonColor: rgb(var(--textSecondary));

        border: none;
    }
}

.yjQNnbGg0GNWAFqQkZPh {
    user-select: none;
}

.aV5MrFolGol6dP3O3i4_ {
    position: relative;
    width: calc(100vw - 32px);
    max-width: 360px;
}

.l0urGlfB28shGd90qzvl {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: rgb(var(--surfaceStrokeUp));
    fill: rgb(var(--textSecondary));
    border-radius: 50%;
}

.MtBXXW_Wiwwn1XVmUAkL {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

