.ScA8PgNhhSdLKs4X4qqr {
    --color-scheme-flag: 0;
    --textAccent: 169, 135, 255;
    --textAccent2: 66, 134, 235;
    --textPrimaryAccent: 255, 255, 255;
    --textPrimary: 231, 231, 231;
    --textSecondary: 131, 133, 137;
    --textSuccess: 21, 176, 74;
    --textInvalid: 228, 98, 111;
    --bgPrimary: 14, 14, 14;
    --bgSecondary: 21, 21, 21;
    --surfaceAccent: 132, 98, 238;
    --surfaceAccentSecondary: 37, 30, 61;
    --surfaceSecondary: 50, 50, 50;
    --surfaceAccentTertiary: 53, 43, 85;
    --surfaceAccent2Secondary: 31, 66, 97;
    --surfaceSuccessSecondary: 52, 97, 31;
    --surfaceInvalidSecondary: 97, 31, 31;
    --surfaceTertiary: 50, 50, 50;
    --surfaceLower: 38, 38, 38;
    --surfaceStroke: 34, 34, 34;
    --surfaceStrokeUp: 55, 55, 55;
    --surfaceStrokeUp1: 75, 75, 75;
    --surfaceAccentStroke: 76, 56, 128;
    --stateSurfaceAccentHover: 118, 76, 244;
    --stateSurfaceSecondaryHover: 65, 65, 65;
    --stateSurfaceAccentSecondaryHover: 230, 223, 252;
    --stateSurfaceLowerHover: 232, 232, 232;
    --textWarning: 237, 161, 69;
    --positiveTrade: 177, 250, 99;
    --negativeTrade: 237, 78, 39;
    --positiveTradeAction: 177, 250, 99;
    --negativeTradeAction: 237, 78, 39;
    --graphicDisabledLight: 255, 255, 255, 0.12;
    --textAuxiliary: 106, 110, 114;
    --negativeTradeHover: 232, 41, 41;
}

.MZEfh_dVle6Q3Inc4XOg {
    --textAccent: 108, 66, 235;
    --textAccent2: 66, 134, 235;
    --textPrimaryAccent: 255, 255, 255;
    --textPrimary: 10, 10, 11;
    --textSecondary: 131, 133, 137;
    --textSuccess: 21, 176, 74;
    --textInvalid: 228, 98, 111;
    --bgPrimary: 246, 246, 246;
    --bgSecondary: 255, 255, 255;
    --surfaceAccent: 132, 98, 238;
    --surfaceAccentHover: 118, 76, 244;
    --surfaceAccentSecondary: 230, 223, 252;
    --surfaceSecondary: 246, 246, 246;
    --surfaceSecondaryHover: 232, 232, 232;
    --surfaceAccentTertiary: 245, 242, 255;
    --surfaceAccent2Secondary: 221, 239, 255;
    --surfaceSuccessSecondary: 193, 255, 178;
    --surfaceInvalidSecondary: 255, 221, 221;
    --surfaceTertiary: 255, 255, 255;
    --surfaceLower: 246, 246, 246;
    --surfaceLowerHover: 232, 232, 232;
    --surfaceStroke: 228, 228, 228;
    --surfaceStrokeUp: 228, 228, 228;
    --surfaceStrokeUp1: 228, 228, 228;
    --surfaceAccentStroke: 157, 129, 242;
    --stateSurfaceAccentHover: 118, 76, 244;
    --stateSurfaceSecondaryHover: 232, 232, 232;
    --stateSurfaceAccentSecondaryHover: 230, 223, 252;
    --stateSurfaceLowerHover: 232, 232, 232;
    --textWarning: 237, 161, 69;
    --positiveTrade: 177, 250, 99;
    --negativeTrade: 237, 78, 39;
    --positiveTradeAction: 177, 250, 99;
    --negativeTradeAction: 237, 78, 39;
    --graphicDisabledLight: 255, 255, 255, 0.12;
    --textAuxiliary: 82, 97, 108;
    --negativeTradeHover: 232, 41, 41;
}

.ScA8PgNhhSdLKs4X4qqr,
.MZEfh_dVle6Q3Inc4XOg {
    * {
        box-sizing: border-box;
    }

    :where(ul, ol, button, input, p) {
        padding: 0;
        margin: 0;
    }

    ul {
        list-style: none;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    input {
        outline: none;
    }
}

.kEzRFpJ4O2JxJtjWc3He {
    font-weight: 800;
}

.bPKsQJuJxRs7BM6gsvQw {
    font-weight: 700;
}

.X_7WCHtvAVQrpQ2fU_ON {
    font-weight: 600;
}

.moEifagPFSP6LuUKtmnZ {
    font-weight: 500;
}

.cr_oxgflbUjEpkaY4O6b {
    font-weight: 400;
}

.QJyweW6sa3DhWdSPWLzA {
    font-size: 48px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.Tbz0qZbiM1ka8R5hIaw5 {
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.kn8FszOxHN0MsAnGFQsz {
    font-size: 24px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.apNPR9p0OwySCOxO2dvD {
    font-size: 18px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.se2KjUOVCpgXHwG4glkI {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.xMJYDAJweCLYWi67Io_T {
    font-size: 14px;
    line-height: 120%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.ETY4vS1yfx_G1Sr5OElo {
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.kkLyuO9rdyxjp6NJczZD {
    font-size: 10px;
    line-height: 100%;
    letter-spacing: 0;
    font-family: Poppins, Helvetica;
}

.cRlVvWhr2l5ekFqnBT7I {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  border-radius: 567px;
  padding: 4px 8px 4px 4px;

  color: white;

  white-space: nowrap;

  border: 1px solid rgb(var(--surfaceAccent));
  background: rgba(var(--surfaceAccent), 0.2);

  cursor: pointer;

  user-select: none;
}

.AzNmZ8_0WlmPUXJtWJna {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    padding: 8px 32px 8px 8px;
    border-radius: 16px;
    border: 1px solid rgb(var(--surfaceStrokeUp1));
    background: rgb(var(--surfaceLower));
    min-height: 44px;
}

.kg5SBqtzLUTjVVJHkeAq {
    color: rgb(var(--textInvalid));
}

.yr245eWHtqgZcMvLBi8_ {
    color: rgb(var(--textSecondary));
}

.u52ax3JkvCwVToxDKYFv {
    --buttonBorderColor: rgb(var(--surfaceStrokeUp1));
    --buttonBackgroundColor: rgb(var(--surfaceSecondary));
    --buttonColor: rgb(var(--textPrimary));
    --buttonBackgroundColorHover: rgb(var(--stateSurfaceSecondaryHover));
    --buttonBorderWidth: 1px;
    --buttonBorderRadius: 8px;
    --paddingX: auto;
    --paddingY: auto;
    --buttonTransitionDuration: 0.2s;

    display: flex;
    align-items: center;
    padding-inline: var(--paddingX);
    padding-block: var(--paddingY);
    border-width: var(--buttonBorderWidth);
    border-style: solid;
    border-color: var(--buttonBorderColor);
    border-radius: var(--buttonBorderRadius);
    background-color: var(--buttonBackgroundColor);
    color: var(--buttonColor);
    transition: transform var(--buttonTransitionDuration), opacity var(--buttonTransitionDuration), background-color var(--buttonTransitionDuration);
    cursor: pointer;

    &.fLdleYh6SCeLW1LyrHZY {
        opacity: 0.5;
        cursor: not-allowed;
        user-select: none;
    }

    &:not(.fLdleYh6SCeLW1LyrHZY, .VljPPV5nC3tpL9E2c_RG):hover {
        background-color: var(--buttonBackgroundColorHover);
    }

    &.XpGAO7nOauas0XqiQZE0 {
        --paddingX: 2px;
        --paddingY: 2px;
        --buttonBorderRadius: 50%;
    }

    &.OtQNUaulkY5bQqaJHUKT {
        --buttonBackgroundColor: rgb(var(--surfaceAccent));
        --buttonColor: rgb(var(--textPrimaryAccent));

        border: none;
    }

    &.OtQNUaulkY5bQqaJHUKT:not(.fLdleYh6SCeLW1LyrHZY, .VljPPV5nC3tpL9E2c_RG):hover {
        background-color: rgb(var(--stateSurfaceAccentHover));
    }

    &.Eg7jCXqmSB25DimtIz4w,
    &.Eg7jCXqmSB25DimtIz4w:not(.fLdleYh6SCeLW1LyrHZY, .VljPPV5nC3tpL9E2c_RG):hover {
        --buttonBackgroundColor: rgb(var(--surfaceStrokeUp));
        --buttonBackgroundColorHover: rgb(var(--surfaceStrokeUp));
        --buttonColor: rgb(var(--textSecondary));

        border: none;
    }
}

.yjQNnbGg0GNWAFqQkZPh {
    user-select: none;
}

.aV5MrFolGol6dP3O3i4_ {
    position: relative;
    width: calc(100vw - 32px);
    max-width: 360px;
}

.l0urGlfB28shGd90qzvl {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: rgb(var(--surfaceStrokeUp));
    fill: rgb(var(--textSecondary));
    border-radius: 50%;
}

.MtBXXW_Wiwwn1XVmUAkL {
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pZ6yXuNqgNT_egKASXHh {
    animation: GCEg1Bk0j6pF9MEamK3r infinite 1s linear;
    pointer-events: none;
}

@keyframes GCEg1Bk0j6pF9MEamK3r {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.sNmZcptA1eA2iD1d_vpX {
    display: flex;
    align-items: center;
    gap: 8px;
}

.gDfc1K0_aXmEv3WGHE85 {
    position: relative;
    width: 100%;
    padding: 2px;
    border-radius: 16px;
    background-color: #4B4B4B;
    overflow: hidden;
}

.__mI6NerivYez2dnJqzK {
    position: relative;
    background-color: rgb(var(--surfaceLower));
    height: 100%;
    border-radius: inherit;
}

.myOsWnG7mw1GLsqxCup3 {
    position: absolute;
    inset: 0;
    width: inherit;
    height: 50%;
    transform: translateZ(0);
    filter: blur(10px);
    will-change: transform;
    background-color: rgb(99, 250, 109);
    animation: RrLuncBDcXlaG9iGhX8O 3s linear;
    animation-fill-mode: forwards;
}

.BltNKhNfRiU2Sdakj7cu {
    position: absolute;
    top: 10%;
    left: 0;
    width: 30%;
    height: 30%;
    filter: blur(24px);
    background-color: rgba(99, 250, 109, 0.6);
    animation: HhJCXh_fizIuSrboNffQ 3s;
    animation-fill-mode: forwards;
}

.KT9bjVyPnfJrdTMgVFoL {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: inherit;
    padding: 12px 16px;
    z-index: 1;
}

.I_KRS5Su54U2ntRoeU73 {
    color: rgb(var(--textPrimary));
}

.xVY5HHb0dlR5PaKPGeCU {
    position: absolute;
    top: 12px;
    right: 40px;
    border-radius: 50%;
    z-index: 1;
    transition: rotate 0.3s;
}

.LvWTFJRuEYgZ_JcX7EIW {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    background-color: rgb(var(--surfaceStrokeUp));
    fill: rgb(var(--textSecondary));
}

.T40oSv9mE3AbbgFyEnWg {
    rotate: 180deg;
}

.pCphAWm4B1om2sAjPB3J {
    will-change: height;
    transition-duration: 0.5s;
}

.uMmliWUynWDRICYP2lMU {
    display: none;
}

@keyframes RrLuncBDcXlaG9iGhX8O {
    0% {
        translate: -50% -50%;
    }

    75% {
        translate: 30% 20%;
    }

    100% {
        translate: 50% 100%;
    }
}

@keyframes HhJCXh_fizIuSrboNffQ {
    0% {
        translate: -100% 0;
    }

    100% {
        translate: 330% 40%;
    }
}

.jckPBcijta3f5ViHtFih {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}

.jckPBcijta3f5ViHtFih.mpMh788VFDIPm1dLL_jw {
    padding-bottom: 12px;
}

.uhWmbn3PeE50EWXQxcPz {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 16px;
}

.Xifiz2EYqFO7fckiPmok {
    display: flex;
    align-items: center;
    gap: 4px;
    color: rgb(var(--textSuccess));
}

.v7QMy6gQ3kAQwgIen47V {
    display: flex;
    align-items: center;
    gap: 10px;
}

.FE2DFUG1AYDtqwC1BTSf {
    display: flex;
    align-items: normal;
    gap: 2px;
}

.Uyg6pU5PChqIBLqNEANv {
    color: rgb(var(--textSuccess));
    line-height: 1;
}

.lGqigzCaeQzdfn7riVlh {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20px;
    border-radius: 15px;
    background-color: rgb(var(--surfaceTertiary));
    padding: 0 8px;
    margin-top: 8px;
}

.MKcVf3MxM8lTiUfHzfRA {
    color: rgb(var(--textSuccess));
    padding: 0 8px;
}

.iZFDR28uiVVcuYyepK_4 {
    display: flex;
    align-items: center;
    gap: 2px;
}

.Wu4vyyd4WADI_aKvuxC5 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    border-radius: 4px;
    padding: 0 6px;
    box-sizing: border-box;
    background: transparent;
    cursor: pointer;
    color: rgb(var(--textSecondary));
    border: 1px solid transparent;
}

.Wu4vyyd4WADI_aKvuxC5.GPqFIYQnGkP73Qxj8mig {
    background: rgb(var(--surfaceAccentSecondary));
    border-color: rgb(var(--surfaceAccentStroke));
    color: rgb(var(--textAccent));
}

.Wu4vyyd4WADI_aKvuxC5.p2dzu9OcJA0vyqcrWtM5 {
    opacity: 0.5;
    cursor: not-allowed;
}

.k64ynecjHNoOXnKacAN0 {
    border-radius: 8px;
    background: rgb(var(--bgSecondary));
    padding: 8px;
    width: 350px;
    min-width: 350px;
}

.rTWOuoSLSnEhpz0XqoWI {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
}

.tBsOYuYBKCu_NQPF8qgD {
    color: rgb(var(--positiveTrade));
}

.vk9hCSVzOHBsJSWDul3Q {
    color: rgb(var(--negativeTrade));
}

.oUYqYorsdAdhHufMMBLQ {
    display: flex;
    align-items: center;
    gap: 2px;
}

.BZDrJKAxuudILAV7TxyR {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 6px 4px;
    margin-top: 8px;
}

.k64ynecjHNoOXnKacAN0 .QNgtPmNGglegn5s7ylQ_ {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.GUJM05YnBwNOqnNYTHiT {
    width: 100%;
    min-width: 0;
    text-align: center;
}

.aus0wdtjsSKP34FxCNjw {
    grid-column: 1/4;
}

.NuUqC67ngaGM3ozernzg {
    color: rgb(var(--textSecondary));
    margin-top: 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    height: 14px;
}

.FEtWsWDgI_tMmwx7PVFg {
    display: flex;
    align-items: center;
    gap: 2px;
}

.FEtWsWDgI_tMmwx7PVFg .RvSSq2SSrntRnWmpuOor,
.utNLZv9nruC2phVoZ1aS .RvSSq2SSrntRnWmpuOor {
    width: 56px;
    height: 16px;
    padding: 0;
    text-align: center;
}

.WrAEsh_Py4NAMQLyJu1p {
    gap: 4px;
    cursor: pointer;
}

.yrl1VOqMApLi9otj5URz {
    min-width: 23px;
}

.utNLZv9nruC2phVoZ1aS {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 12px;
    padding: 0;
    box-sizing: border-box;
    height: fit-content;
    color: rgb(var(--textSecondary));
}

.gjtbSE2IU7GFcJKCWmOZ {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
}

.sDgpihrMpxVEfdZCKojI {
    color: rgb(var(--surfaceSecondary));
}

.ka2qWCxl_9c8jMlDRZeT {
    display: flex;
    align-items: center;
    gap: 2px;
}

.ka2qWCxl_9c8jMlDRZeT .HlBoqvUaW7P84SnK04xP {
    width: 62px;
    color: rgb(var(--textSecondary));
}

.i6wPsUPriAWNDK2nBS1P {
    display: flex;
    justify-content: center;
}

.q0kk9EijOmGtqii6Y8w3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: rgb(var(--textSecondary));
}

.q0kk9EijOmGtqii6Y8w3.wZdRSCdGK0xQhkVVH_Pi {
    color: rgb(var(--textAccent));
}

.PO7H7dwwBeCsgD2NhV_X {
    margin-left: 2px;
    color: rgb(var(--textSecondary));
}

.bGZVcHqHYT5J109uTPu_ {
    height: 12px;
    width: 1px;
    background: rgba(var(--graphicDisabledLight));
    margin: 0 10px;
}

.BwDamAp0LxF3ugVDT03c {
    --color-scheme-flag: 0;
    --textAccent: 169, 135, 255;
    --textAccent2: 66, 134, 235;
    --textPrimaryAccent: 255, 255, 255;
    --textPrimary: 231, 231, 231;
    --textSecondary: 131, 133, 137;
    --textSuccess: 21, 176, 74;
    --textInvalid: 228, 98, 111;
    --bgPrimary: 14, 14, 14;
    --bgSecondary: 21, 21, 21;
    --surfaceAccent: 132, 98, 238;
    --surfaceAccentSecondary: 37, 30, 61;
    --surfaceSecondary: 50, 50, 50;
    --surfaceAccentTertiary: 53, 43, 85;
    --surfaceAccent2Secondary: 31, 66, 97;
    --surfaceSuccessSecondary: 52, 97, 31;
    --surfaceInvalidSecondary: 97, 31, 31;
    --surfaceTertiary: 50, 50, 50;
    --surfaceLower: 38, 38, 38;
    --surfaceStroke: 34, 34, 34;
    --surfaceStrokeUp: 55, 55, 55;
    --surfaceStrokeUp1: 75, 75, 75;
    --surfaceAccentStroke: 76, 56, 128;
    --stateSurfaceAccentHover: 118, 76, 244;
    --stateSurfaceSecondaryHover: 65, 65, 65;
    --stateSurfaceAccentSecondaryHover: 230, 223, 252;
    --stateSurfaceLowerHover: 232, 232, 232;
    --textWarning: 237, 161, 69;
    --positiveTrade: 177, 250, 99;
    --negativeTrade: 237, 78, 39;
    --positiveTradeAction: 177, 250, 99;
    --negativeTradeAction: 237, 78, 39;
    --graphicDisabledLight: 255, 255, 255, 0.12;
    --textAuxiliary: 106, 110, 114;
}

.JB2hehxg54jPc6GZrybY {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(var(--bgPrimary));
    border-radius: 16px;
    border: 1px solid rgb(var(--surfaceStroke));
    user-select: none;
    transform-origin: top left;
    z-index: calc(infinity);
    overflow: hidden;
    display: grid;
    grid-template-columns: auto 1px auto;

    .i75DHw4bnADytT4iImA_, .NCpJPpjrYUyQ7nfY50bC {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .A9T3nCRrwFM281sNGiwL {
        height: calc(100% - 24px);
        translate: 0 12px;
        width: 1px;
        background-color: rgb(var(--surfaceStroke));
    }

    .Km1zCp6CJYtPjy3HuUsP {
        padding: 12px;
        padding-top: 0;
        height: 100%;
    }
}
.t9iEebiWINUdIgl9TECK {
    display: block;
    padding: 8px 12px;
    box-sizing: border-box;

    border-radius: 8px;

    height: 32px;
    
    width: 100%;
    cursor: pointer;

    transition-property: background-color, color;
    transition-duration: 0s;
    transition-timing-function: ease-in;
}

.t9iEebiWINUdIgl9TECK[disabled] {
    cursor: not-allowed;
    user-select: none;
}

.t9iEebiWINUdIgl9TECK.itWVBI_OclT9iZzRPyMP {
    --main-color: #B1FA63;
}

.t9iEebiWINUdIgl9TECK.ZxHoD3y9wctai2Rvow6d {
    --main-color: #ED4E27;
}

.t9iEebiWINUdIgl9TECK.YgGjhuS5j9dF2bjPasDW {
    color: var(--main-color);

    border-width: 1px;
    border-style: solid;
    border-color: var(--main-color);

    background-color: transparent;

    &:not([disabled]):hover {
        background-color: var(--main-color);
        color: rgb(var(--bgPrimary));
    }

    &[disabled] {
        --main-color: rgb(var(--surfaceTertiary));
    }
}

.UvSBUge6ytKzxgg5lQig {
    padding: 6.5px 12px;
    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(var(--surfaceStrokeUp));
    background-color: rgb(var(--surfaceLower));
    width: 100%;
    min-width: 0;
    height: 32px;
    color: rgb(var(--textSecondary));

    display: flex;
    align-items: center;
    gap: 8px;
    box-sizing: border-box;

    cursor: text;
    overflow: hidden;

    &.a5DbM6sR2lf4lPsnqWSj {
        opacity: 0.5;
        cursor: not-allowed;
    }

    input[disabled] {
        cursor: not-allowed;
    }
}

.GHky692tr6IowyAjpPiO,  .IpkbidMiKTivoHYCYvGD {
    display: flex;
    align-items: center;
}

.pCwiCs1suws4Nb06_kKg.ybJ9IrGNWJokeztsk1Gu {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;

    border: none;
    background-color: transparent;
    outline: none;

    color: inherit;

    &::placeholder {
        color: rgb(var(--textSecondary));
    }
}

.G24kkNbXg42tRJKimdpV {
    --width: 29.3px;
    --height: 16px;
    --thumb-size: 14px;
    --padding: 2px;

    display: block;
    width: var(--width);
    min-width: var(--width);
    height: var(--height);
    max-height: var(--height);
    border-radius: 50px;
    background-color: rgb(var(--surfaceStrokeUp));
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &[data-state='checked'] {
        background-color: rgb(var(--textAccent));
    }

    &.BaNrlBqbAJfQsv8DbhRV {
        --width: 44px;
        --thumb-size: 20px;
        --height: 24px;
    }
}

.kjXZkgpASDiL455Ksi3A {
    display: block;
    width: var(--thumb-size);
    height: var(--thumb-size);
    border-radius: 50%;
    transform: translateX(var(--padding));
    background-color: rgb(var(--textPrimaryAccent));
    transition-property: transform, background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;

    &[data-state='checked'] {
        transform: translateX(calc(var(--width) - var(--thumb-size) - var(--padding)));
        background-color: rgb(var(--bgSecondary));
    }
}

.XzrI7n2aNPncIB_94BVF {
  min-width: 350px;
  width: fit-content;

  color: rgb(var(--textPrimary));
}

.XzrI7n2aNPncIB_94BVF.QEK6z3b0R0Qc98302SfM {
  opacity: 0;
  pointer-events: none;
}

.zlyhyLLztg6KFtSX9g74 {
  display: flex;
  justify-content: flex-end;
}

.qMs7vmVObx5arc1OXhIe {
  margin-top: 8px;
}

.yp35Zomf3sLQ6sUCVxTB {
  display: inline-flex;
  align-items: center;
  color: rgb(var(--textSecondary));
  margin-top: 12px;

  width: 100%;
}

.oJdeekrKHgKOaqtKhqZj,
.LFfITLrLpRhIfE2hfXJw {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 12px;
  padding-bottom: 0;

  cursor: move;
}

.jkF1oSb4TNfBrC9JyboR,
.gcAxoqXmgpTDpEIxwmTj {
  display: flex;
  align-items: center;
  gap: 8px;
}

.gcAxoqXmgpTDpEIxwmTj {
  justify-content: flex-end;
}

.kgSjNvNgyNhSaX1XJSjx {
  cursor: pointer;
  margin-left: 24px;
}

.oE2VREy_HlIpR_9pQLF7 {
  min-width: 115px;
  max-width: 115px;

  .qiGxasM34OSRLbBI4LQ4 {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }

  .Srzkg6XBYlY0f87dJGEJ {
    min-width: 16px;
    min-height: 16px;
  }
}

.nQzj6C9CTB1X4Nr6vhIw {
  min-width: 206px;
  max-height: 250px;
}

.w7Vdv0Y_Awf7OJ9Udb3V {
  color: rgb(var(--textSecondary));
}

.i9j7EpZyL2kdv1_HOrp1 {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.kP4NKSLOYE2NOGHgznjG {
  background-color: rgb(var(--surfaceStroke));
}

.R7WVw4sm7SJKYYAdhf5A {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;

  .QzaqeO5EkLXdKCr1BsH7 {
    color: rgb(var(--textSecondary));
    margin-left: 6px;
  }

  ._AD58quNd5aQesuMNqel {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 2px;
  }
}

.OkVQ5eBA9swVnVujCC7j {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  cursor: pointer;
}

.VjhNFblVhxf1W8LX6eWT {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
  gap: 8px;

  color: rgb(var(--textPrimary));

  .PBgghzRpJDQ_IDbkaDCb {
    color: rgb(var(--textSuccess));
  }
}

.LFfITLrLpRhIfE2hfXJw {
  display: grid;
  grid-template-columns: 16px 1fr 16px;
  align-items: center;
  color: rgb(var(--textSecondary));
  width: 424px;
  min-height: 44px;

  .KYevipEKCfCBzYN2Qqp7 {
    text-align: center;
  }

  .YSX8PC1uiKGiFbTc6_jd {
    cursor: pointer;
  }
}

.TgK7W3JDXPAe2Xk9Lwgw {
  margin-top: 8px;
  width: 400px;
  height: 100%;
  max-height: 300px;

  overflow-y: auto;

  .V7oQiJjlkQiadrnf1pk7 {
    width: 100%;
    max-width: 100%;
    padding: 12px 16px;
  }

  .Ya2y1Z1JgSE32YxkgMRC {
    display: grid;
    grid-template-columns: repeat(2, minmax(40px, 1fr)) repeat(
        2,
        minmax(80px, 1fr)
      );
    gap: 4px;
    color: rgb(var(--textSecondary));
    margin-bottom: 12px;
  }

  .FjpiVRxoql5ATUhgWSQS {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding: 0;
    margin: 0;
  }
}

.UKWZSj4lia_kcLRrBwaC.aCqtWydoYZnsTX4S1sAm {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    padding: 8px 12px;
    box-sizing: border-box;

    max-height: 32px;

    border-width: 1px;
    border-style: solid;
    border-radius: 8px;
    border-color: rgb(var(--surfaceStrokeUp));

    background-color: rgb(var(--surfaceLower));
   
    color: rgb(var(--textPrimary));

    outline: none;

    cursor: pointer;
}

.sIibz2EMVEuK2s4DAc56 {
    display: grid;
    gap: 6px;
    padding: 12px;

    background-color: rgb(var(--bgSecondary));

    border-radius: 8px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--surfaceTertiary));
}

.kZ33zeKdHfu6ovCNdLPO {
    display: flex;
    align-items: center;
    padding: 0 6px;

    min-height: 32px;
    border-radius: 8px;

    cursor: pointer;

    outline: none;
    border: none;
}

.kZ33zeKdHfu6ovCNdLPO:hover {
    background-color: rgb(var(--surfaceSecondary));
}
._21nFisMBmE9QwQ703qjV {
    color: rgb(var(--textInvalid));
}

.a1jf2pip05UrZpOGWbUo {
    color: rgb(var(--textSuccess));
}

.niKF79_QtTyMJkuePeVq {
    display: flex;
    align-items: center;
    gap: 4px;
    width: 100%;
    height: 32px;
    border-radius: 8px;
    border: 1px solid rgb(var(--surfaceStrokeUp));
    background-color: rgb(var(--surfaceLower));
    color: rgb(var(--textSecondary));
}

.l7QCzfuYD6jLTPK8w8bR {
    background-color: transparent;
    color: inherit;
    border: 0;
    width: 100%;
    padding: 0 12px;
}

.ICp17kj6EBBnemgQLcNb {
    padding-right: 0;
}

.iLy7_FPMNbjqmqeQZEzU {
    padding-left: 0;
}

.Tv9qeA5txidrKDYOnh11 {
    display: flex;
}

.NhfOL1lioX6i61wvXGar {
    display: grid;
    grid-template-columns: repeat(2, minmax(80px, 1fr));
    gap: 4px;
    position: relative;
    height: 30px;


    ._WZRPdgh3p90tBaY_6pd {
        z-index: 1;
    }

    .ADXtr6rTDNHyKwWnv8gy {
        border: 1px solid;
        padding-left: 6px;
        padding-right: 8px;
        background-color: transparent;
        height: 30px;
    }

    .kQN7_08KaCJeypO_btLv {
        color: rgb(var(--positiveTrade));
        border-color: rgb(var(--positiveTrade));
    }

    .R1F3HCch8wwdon_Kbdkk {
        text-align: right;
        padding: 0;
    }

    .kQN7_08KaCJeypO_btLv .R1F3HCch8wwdon_Kbdkk {
        color: rgb(var(--positiveTrade));
    }

    .E91QNnBbjUJiwQFky6CY {
        color: rgb(var(--negativeTrade));
        border-color: rgb(var(--negativeTrade));
    }

    .E91QNnBbjUJiwQFky6CY .R1F3HCch8wwdon_Kbdkk {
        color: rgb(var(--negativeTrade));
    }

    .oThLKUNpcOphTSlMKCel {
        border-radius: 8px;
        border: 1px solid;
        text-align: center;
        height: 30px;
        z-index: 1;
        color: rgb(var(--bgPrimary));
    }

    .Ck2WZ4vPGjB69zrgN6KO {
        background-color: rgb(var(--negativeTradeAction));
    }

    .kzX55yetwEz2aGVB0nVa {
        background-color: rgb(var(--positiveTradeAction));
    }

    .ADXtr6rTDNHyKwWnv8gy.pbwdVRbP5_FZoT8lsw6q {
        color: rgb(var(--textPrimary));
        border-color: rgb(var(--surfaceStrokeUp));
        background-color: rgb(var(--surfaceLower));

        & .R1F3HCch8wwdon_Kbdkk {
            color: rgb(var(--textPrimary));
        }

        &:focus-within {
            background-color: rgb(var(--surfaceLowerHover));
        }
    }

    .lQk5XDrbXyu6EilwWFf4 {
        display: none;
        grid-template-columns: repeat(2, 1fr);
        gap: 4px;
        align-items: center;
        position: absolute;
        top: -4px;
        left: -4px;
        padding: 4px;
        width: calc(100% + 8px);
        height: 38px;
        background-color: rgb(var(--surfaceStroke));
        border-radius: 12px;
    }

    .RQ0g5B7sVEfz90ysfcS5:hover,
    .wrSgSPNxmFkJhxJPZoti:hover {
        & .lQk5XDrbXyu6EilwWFf4 {
            display: grid;
        }
    }
}
.edzcNCh13B5jjJP5J1cK {
    display: grid;
    grid-template-columns:
        repeat(2, minmax(40px, 1fr)) repeat(
            2,
            minmax(80px, 1fr)
        );
    gap: 4px;

    .o7R3VodhM2GopuDlzK8G {
        display: flex;
        align-items: center;
        gap: 4px;
        color: rgb(var(--textSecondary));
        width: 100%;
        overflow: hidden;
        transition: 0.3s color;
    }

    .hP3aAj2BIwBywsl_UKkp {
        width: 16px;
        height: 16px;
        border-radius: 50%;
    }

    .P6mG6v7dyHk9vVpIRwUW {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .rIarh4CjRYVBwUeUKTkJ {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: rgb(var(--surfaceStroke));
        padding: 8px;
        border-radius: 8px;
    }

    .KoW4UDyXsjCOg_3pQX9C {
        color: rgb(var(--textPrimaryAccent));
    }

    .lQMII6PF8nASP7cmLNfi {
        color: rgb(var(--textSecondary));
        cursor: pointer;
    }

    .giNQwdQr37HdmQEfYJDQ {
        display: flex;
        color: rgb(var(--textSecondary));
    }

    .HzTv6G5XsToTwUYyFg2i {
        width: 16px;
    }

    .xFuIjZlTausBnjKIjd_I {
        display: flex;
        flex-direction: column;
        gap: 2px;
        color: rgb(var(--textSecondary));
    }

    .WnkDaB0qHp9bE0pKe1Ic {
        grid-column: span 2;
    }

    .edzcNCh13B5jjJP5J1cK:hover {
        & .o7R3VodhM2GopuDlzK8G {
            color: rgb(var(--textPrimary));
        }
    }
}

.zHYYnTbo71iuDxqqRZMA {
    display: flex;
}

.nfGV84tnXl6stdcCXvcm {
    display: flex;
    align-items: center;
    gap: 4px;
}

.abaQbYXuFm5JnZY6ElAD {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    border-radius: 6578px;
    padding: 8px;
    color: rgb(var(--textPrimaryAccent));
    background: rgb(var(--surfaceAccent));
    box-shadow: 0 0 20px 0 rgba(97, 59, 211, 0.4);
    margin-left: 8px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
        background: rgb(var(--stateSurfaceAccentHover));
    }
}

button.BVetBZcfbGGdVPEuprFq {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    border-radius: 6px;
    background-color: rgb(var(--surfaceAccent));
    color: rgb(var(--textPrimaryAccent));
    transition: background-color 0.3s;

    &:hover {
        background: rgb(var(--stateSurfaceAccentHover));
    }
}

.nfGV84tnXl6stdcCXvcm.TiRA4RjL5QzIt60Hn_Wv {
    .abaQbYXuFm5JnZY6ElAD {
        border-radius: 6px;
        padding: 2px 4px;
    }
}

.VLX_v7__3GITtn7RfsIY {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    width: 100%;
    padding-block: 10px;
    border-radius: 999px;
    background-color: rgb(var(--surfaceAccent));
    color: var(--textPrimaryAccent);
    margin: 0;
    box-shadow: 0 0 20px 0 rgba(97, 59, 211, 0.4);

    &.pUg68vkSSPg7pbGQj_DE {
        background-color: rgb(var(--negativeTrade));
        color: rgb(var(--bgPrimary));
        transition: background-color 0.3s;

        &:hover {
            background-color: rgb(var(--negativeTradeHover));
        }
    }
}

div.TiSJzBLH5Mx3iPG61mh7 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 100%;

    & > * {
        width: 100%;
    }
}

.IOut2amtB0_z6f3LoFPv {
    --axiomBorderColor: #21242D;
}
.vCtzwvdOkq79Nkjxc41K {
    display: flex;
    align-items: center;

    border-bottom: 1px solid var(--axiomBorderColor);

    padding: 6px 8px;
}
.HzpzIXBgGibDd6mLt_o1 {
    display: flex;
    align-items: center;
    gap: 6px;
    width: max-content;
    background-color: rgb(var(--textAccent2));
    color: rgb(var(--textPrimaryAccent));
    height: 20px;
    padding: 0 4px;
    border-radius: 4px;

    &.jihexCxVuqG5NiKRCFWQ {
        height: 16px;
        border-radius: 8px;
        gap: 4px;
        padding: 0 4px;
    }
}

.xBiMxjDgme25j2Pu4Kwr {
    display: flex;
    align-items: center;
    gap: 2px;
}

.yuEEoYoONmmVj3TSvD4a {
    height: 14px;
}

.uKzEFafdRusuPytE4eJw {
    border: none;
    width: 1px;
    height: 8px;
    background-color: rgba(var(--textPrimaryAccent), 0.3);
}

.H9HRpB3sQ5tDDZ0djb4Y {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: rgb(var(--surfaceStrokeUp));
    color: rgb(var(--textSecondary));
}

.QdVrhsXbHVv1BsQihl4r {
    color: rgb(var(--textSecondary));
    max-width: 160px;
    border-radius: 4px;
    border: 1px solid rgb(var(--surfaceStroke));
    background: rgb(var(--bgSecondary));
    padding: 6px;
    white-space: wrap;
    line-height: 1.2;
}

.ESpU53BXIxOKI_2Jkpvt {
    position: relative;
}

.clen1jsHzsBmOQTfY0Rw {
    display: flex;
    align-items: center;
    border-radius: 8px;
    width: 100%;
    height: 8px;
    overflow: hidden;
}

.xNV9kFlLjEL5WpUSGI5q {
    mask: linear-gradient(to right, white 0%, white 100%);
    width: 0;
    height: 30px;
    border-radius: 8px;
}

.qbor_aL2uSowtOOCzCau {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #F88E8E 0%, #F8ED8E 40%, #F8ED8E 80%, #8EF89F 100%);
}

.OAJBNlxvOaiF2euoTbvO {
    position: relative;
    width: 0;
}

.iytotlLr5Afdueg8rOFF {
    background-color: rgb(var(--textAccent));
    position: absolute;
    transform: translateX(50%) translateY(-75%);
    border-radius: 50%;
    right: 0;
    top: 0;
    width: 16px;
    height: 16px;
    border: 2px solid rgb(var(--bgSecondary));
}

.zE8_UEvP2p0LfVFQsbX9 {
    position: relative;
    padding-top: 20px;
}

.z_s2SNf7Icx24nV0NbMw {
    display: flex;
    width: 100%;
}

.iUHabUWMNmAQuEnBJedY {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: -2.5px;
}

.iUHabUWMNmAQuEnBJedY:not(:first-child) {
    transform: translateX(-50%);
}

.iUHabUWMNmAQuEnBJedY:last-child {
    transform: translateX(-100%) translateY(15%);
}

.UyGpprJEVhfUXJdiBBEf {
    color: rgb(var(--textSecondary));
}

.pLYGb5FCbisJttLOdgf5 {
    font-size: 20px;
    line-height: 75%;
}

.jVqQ_jI1UhUiA09mTQQb {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: rgb(var(--textSecondary));
}

.t0QeoUYTZmtN9yLBTPVt {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.KlaT6trvws7hx1kktURQ {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.VsCjgU_36MSiBl2vZM45 {
    display: flex;
    flex-direction: column;
}

.CwJ6WiTzOTj6zT2YQ3PE {
    display: flex;
    align-items: center;
    gap: 2px;
    color: rgb(var(--textPrimary));
}

.NLWyzShrRqG5QlxBSV94 {
    color: rgb(var(--textSecondary));
}

.alx9odnmRS5oCgJmIR8s {
    margin-left: 8px;
}

.fP6E5hhF027jhzlILsnU {
    display: flex;
    align-items: baseline;
    gap: 2px;
}

.JfSSgOz3HEGV4lljsoX6 {
    color: rgb(var(--textPrimary));
}

.tCWDKYvwFvUSGRCsKwDQ {
    text-transform: lowercase;
    color: rgb(var(--textSecondary));
}

.wvaWPOMbAiQqyvv1Wu_m {
    display: flex;
    align-items: center;
    border-radius: 8px;
    height: 16px;
    background-color: rgb(var(--surfaceAccent));
    color: rgb(var(--textPrimaryAccent));
    padding: 0 8px;
}

.V2OhcxW5iWDc_eTbs75g {
    display: inline-flex;
    
    padding: 0;
    padding-inline: 0;
    padding-block: 0;
    border: none;
    background: none;
    font: inherit;
    color: inherit;
    cursor: pointer;
    user-select: none;

    box-sizing: border-box;

    height: fit-content;
    width: fit-content;
}

.KAKgayKP9sCF26mAabY_ {
    display: flex;
    align-items: center;
    gap: 2px;
    border: 1px solid rgb(var(--surfaceAccent));
    background-color: rgba(var(--surfaceAccent), 0.2);
    color: rgb(var(--surfaceAccent));
    height: 16px;
    border-radius: 8px;
    padding: 0 6px;
    white-space: nowrap;
}

.cCWj12d85tYr3KcXctH8 {
    display: none;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}

.TLPjvz0VODlB3nTuNvas {
    border-radius: 4px;
    height: 20px;
    padding-right: 4px;

    & .cCWj12d85tYr3KcXctH8 {
        display: flex;
    }
}

._475MgT6Kjaq2fdLwAPrA {
    width: 20px;
    padding: 0;

    & .cCWj12d85tYr3KcXctH8 {
        width: 20px;
        height: 20px;
    }
}

.PV0ON3F9s1VxmYqywPUd {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    text-decoration: inherit;
}

.jPHSOBiyJ7JmCKfsNatQ {
    padding: 0;
    border: none;
}

.lywuGjcyuR9bhNH6Ojkx {
    border: 1px solid rgb(var(--surfaceAccent));
    max-width: 200px;
    height: 20px;
    background-color: rgb(var(--textPrimaryAccent));
    border-radius: inherit;
    padding-left: 6px;
}

.wEsrrpvZBabSvo8fmR3g {
    padding: 0;
    color: rgb(var(--surfaceAccent));
}

.QNjo9jfgk3FuyvdqHnL0 {
    display: flex;
    align-items: center;
    gap: 2px;
    color: rgb(var(--surfaceAccent));
    padding-right: 4px;
}

.j9zpWvUyZc4a4d0mZOrX {
    margin-left: 12px;
}

.JCNGTmbDgR8qA1WASqmh {
    margin-left: 2px;
}

.wUDr5pFn7Tj3bDgY9p1Q {
    margin-left: 2px;

    &.sZbGlkWnTlnUTLeFIYYQ {
        margin-left: 12px;
    }
}

@keyframes un8TxEGU6GNYL74GW4Fw {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

.KvKyOGR8BM364eb_APuc {
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(
        90deg,
        rgb(var(--surfaceLower)) 0%,
        rgb(var(--surfaceLower)) 30%,
        rgba(255 255 255 / 18%) 50%,
        rgb(var(--surfaceLower)) 70%,
        rgb(var(--surfaceLower)) 100%
    );
    background-size: 800px 100%;
    animation: un8TxEGU6GNYL74GW4Fw 1.6s ease-in-out infinite;
}

.cf8ne5JJrXCz8kE8pndF {
    width: 30px;
    height: 16px;
    border-radius: 8px;
}

.TlUGzkRVojCciLeBuJkw {
    width: 24px;
    height: 20px;
    margin-left: 12px;
}

.QRRbg0jtLm8sQl8AAGTh {
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

.at3hCW3Ly0wStN8zPSL5 {
    height: 20px;
    margin-left: 2px;

    &.sZbGlkWnTlnUTLeFIYYQ {
        margin-left: 12px;
    }
}
.Wapo_aCQci5DN73Vo2el {
    background-color: rgb(var(--surfaceLower));
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;

    .n57nzPguaWq3V4W7CeUG {
        color: rgb(var(--textPrimary));
    }

    .dj2RhWDa1GtJCEFYwtCz {
        color: rgb(var(--textAccent));
    }

    .QatHPvOfXJEeIlFo8rA5 {
        color: rgb(var(--textSecondary));
    }

    .ElbBbDDZsE5hhnWXC7zy {
        width: 1px;
        height: 8px;
        background-color: rgb(var(--surfaceStrokeUp));
    }
}
.mC8gEi6nHMygppRbMtyg {
    display: inline-flex;

    color: rgb(var(--textPrimaryAccent));
    background-color: rgb(var(--surfaceAccent));
    border-radius: 4px;
    padding: 4px 8px;

    height: 20px;
}
.tB9qRJA0_7vD4pG3LtES {
    display: flex;
    align-items: center;
    gap: 4px;
}

.rQMntQrsWCGQ9HLeTbkI {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    transition: 0.5s filter;
    cursor: pointer;
    background-color: rgb(var(--surfaceLower));

    &.aPxzqqq03aw39WdF_7Iu {
        cursor: default;
        filter: blur(3px);
    }

    &.ShNYlZP87EjMKFvkjgHS {
        border-radius: 16px;
        color: rgb(var(--textSecondary));
        width: auto;
        line-height: 24px;
        padding: 0 6px;
    }
}

.DLsWqLAV83EikRzjfkRB {
    .rQMntQrsWCGQ9HLeTbkI {
        width: 16px;
        height: 16px;
        background-color: rgb(var(--bgSecondary));
    }

    .ShNYlZP87EjMKFvkjgHS {
        border-radius: 16px;
        color: rgb(var(--textSecondary));
        width: auto;
        line-height: 16px;
        padding: 0 4px;
    }
}

.zpS3QwbHbO4Ba6Xk1s50 {
    width: 13px;
    padding: 2px;
}

.lT5n_7JRyA4BdWGQpUIf {
    padding: 2px 4px;
    border-radius: calc(Infinity * 1px);
    background-color: rgb(var(--surfaceStrokeUp));

    color: rgb(var(--textSecondary));

    text-decoration: none;

    display: flex;
    align-items: center;
    gap: 4px;

    cursor: pointer;
}
.Krv0KqmHmRbT66TK6mLw {
    display: flex;
    align-items: center;
    gap: 4px;
    width: max-content;
    padding: 0px 8px;
    height: 20px;
    white-space: nowrap;
    transition: 0.3s background-color, 0.3s color;
    border-radius: 4px;
    color: rgb(var(--textAuxiliary));
    background-color: rgb(var(--surfaceLower));

    &.JgZsoPBznccEVYFPxHDW {
        cursor: pointer;
    }

    &.ZmdSKJa3mLZqOnwHXBC2 {
        border-color: rgb(var(--surfaceAccentStroke));
    }

    &:not(.ZmdSKJa3mLZqOnwHXBC2, .m3zAp6ZM59vnvkxul8RH):hover {
        border-color: rgb(var(--surfaceAccentStroke));
    }
}

.DRJ0k3SolFmjdRqV2Lfq {
    width: 17px;
    height: 17px;
}

.E2Q0Exf16uRcxn69V8lF {
    padding: 12px;
    background-color: rgb(var(--bgSecondary));

    border-width: 1px;
    border-style: solid;
    border-color: rgb(var(--surfaceStroke));
    border-bottom: none;

    min-width: 320px;
    max-width: 400px;

    &:first-child {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &:last-child {
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        border-bottom: 1px solid rgb(var(--surfaceStroke));
    }
}

.uqs19NgERjgOMsXp6MHr {
    .FeFJOfocS4J7Qhg_cOr3 {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 16px;
    }

    .E11BwC7OsmmcZVVlymxq {
        display: flex;
        align-items: center;
    }

    .iUhD5S_zZozaFxoMmMwX {
        margin-left: 6px;
        color: rgb(var(--textSecondary));
    }

    .M43O6Oo6N88or8Ez25Oy {
        margin-left: 6px;
    }

    .I7QHaEnggcEnI3KrUSD3 {
        margin-left: 2px;
    }
}

.qXWO5GVUU26mrXW9E3T8 {
    display: flex;
    flex-direction: column;
    gap: 8px;

    .nOcU6qHpRcFx2R64v_9Y {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }
}

.uqs19NgERjgOMsXp6MHr, .F50Gnpn8PJEDDQIkfOap, .VgMOU5oAP5MLT37Zchoj {
    display: flex;
    flex-direction: column;
    gap: 8px;

    color: rgb(var(--textPrimary));

    a {
        text-decoration: none;
        color: inherit;
    }

    .uJCyDFrNMHSXwosrP5Ie {
        display: flex;
        flex-wrap: wrap;
        gap: 4px;
    }

    .Xrsqy4myX5bvfnle5Ks5 {
        display: flex;
        align-items: center;
        gap: 4px;

        padding: 4px 8px;
        border-radius: 4px;

        background-color: rgb(var(--surfaceLower));
    }
}

.F50Gnpn8PJEDDQIkfOap, .VgMOU5oAP5MLT37Zchoj {
    .xq1NKJSKg1rZFKW01KyU {
        display: flex;
        align-items: center;
        justify-content: center;

        color: rgb(var(--textSecondary));
    }
}

.F50Gnpn8PJEDDQIkfOap {
    .CWgZKWd8tcpdTddSMlj1 {
        color: rgb(var(--textSecondary));
    }

    .E1oyd3wfGeJN94iKkCS2 {
        color: rgb(var(--textSuccess));
    }
}

.VgMOU5oAP5MLT37Zchoj {
    .VsBkCq3ci0iufYYYwPlk {
        color: rgb(var(--textAccent2));
    }
}

.QA2whZfFxvlkK3dNr_ct {
    color: rgb(var(--textPrimary));

    .R6sLsH7PsdLUJJs7PJEn {
        display: flex;
        align-items: center;
        gap: 8px;
    }

    ._UBctGk3l410cG2SIcHj {
        display: flex;
        flex-direction: column;
    }

    .cY_zJEv0a8eoNiWy7p8v {
        display: flex;
        align-items: center;
        gap: 4px;
    }

    .nFvYknkXhJ87SRndE_FR {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        color: rgb(var(--surfaceSecondary));
    }

    .kM9mJq1UdUqKZSOHagWe {
        margin-top: 8px;
        list-style: none;
        display: flex;
        align-items: center;
        gap: 4px;
        flex-wrap: wrap;
    }

    .fAPxyZcfJsQQeMq60v4A {
        margin-top: 8px;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .gvkC6cY00QkZNqtXGXXQ {
        display: flex;
        align-items: center;
        gap: 2px;
    }

    .VFIIUD9hBeeHLSqHHL_Z {
        color: rgb(var(--textSecondary));
    }
}
.neWNXsk0la0oJurkolj1 {
    display: flex;
    flex-wrap: nowrap;
    gap: 2px;
    flex-basis: 100%;
    padding-left: 54px;

    width: fit-content;

    cursor: default;
}

.mHpnLcQTGVuwyObxMTGt {
    max-width: 150px;
}

.LpyP14xOYssrTPj9VJQA {
    padding: 4px;
    background-color: rgb(var(--surfaceLower));
    border-radius: 4px;
    color: rgb(var(--textAuxiliary));
}

.P32EcY3uZ32FJA6bF5UZ {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-basis: 100%;
    gap: 2px;
}

.m7E9vsfpUfhmF27Oy5qB {
    overflow-y: auto;
    max-height: 400px;

    z-index: calc(Infinity);
}
.kFf5aElpXSOvxNy_u0t7 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;

  border-radius: 567px;
  padding: 4px 8px 4px 4px;

  white-space: nowrap;

  color: white;

  border: 1px solid rgb(var(--surfaceAccent));
  background: rgba(var(--surfaceAccent), 0.2);

  cursor: pointer;
  user-select: none;
}

.db3pV40k09bpRP7g0cxS {
  display: flex;
  align-items: center;
}

.kK5R61_XcIhNd5UKj7cg {
  padding: 8px;
  height: 30px;
}
.Koq5cnhUaXe7lqW2qJVn {
  padding: 8px;
  height: 30px;
}
.Obbtl6xQF2q1oV9psxov {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  width: 100%;
  height: 44px;
  padding-block: 10px;

  border-radius: 999px;

  background-color: rgb(var(--surfaceAccent));

  color: var(--textPrimaryAccent);

  margin: 0;

  box-shadow: 0 0 20px 0 rgba(97, 59, 211, 0.4);

  &.Ln8JIrzPGj_OXaZEStft {
    background-color: rgb(var(--negativeTrade));
    color: rgb(var(--bgPrimary));
  }
}

div.fSzTls1mlucnW6hE3dmi {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  width: 100%;
}

.EmJ0gmHQ6NB9JSyaNeyA {
    --padreBorderColor: #21242D;
}
.nW9w0Yyt4gAjQ4NfJAtl {
    display: flex;
    align-items: center;

    border-bottom: 1px solid;

    padding: 6px 8px;
}
.KBaaFnB9fiC5Lt6AVuG6 {
    margin-left: 12px;
}

.IeT1KMRG7LaqQ40SeryX {
    margin-left: 2px;
}

.A2L61SN0BCX2Ss28YYo6 {
    margin-left: 2px;

    &.kgucp2jHaqtXAPLXt1xQ {
        margin-left: 12px;
    }
}

@keyframes siP07snR1M2Q4rWynIPh {
    0% {
        background-position: -400px 0;
    }

    100% {
        background-position: 400px 0;
    }
}

.fcYdMkq6fDsxgmY90jcF {
    display: inline-block;
    border-radius: 4px;
    background: linear-gradient(
        90deg,
        rgb(var(--surfaceLower)) 0%,
        rgb(var(--surfaceLower)) 30%,
        rgba(255 255 255 / 18%) 50%,
        rgb(var(--surfaceLower)) 70%,
        rgb(var(--surfaceLower)) 100%
    );
    background-size: 800px 100%;
    animation: siP07snR1M2Q4rWynIPh 1.6s ease-in-out infinite;
}

.g5_GW1wuT1pUyPrY8jr0 {
    width: 30px;
    height: 16px;
    border-radius: 8px;
}

.Y3XNgvxY9CSelMZZwYiD {
    width: 24px;
    height: 20px;
    margin-left: 12px;
}

.Vwtp2uzqpRDwloxVU92U {
    width: 20px;
    height: 20px;
    margin-left: 2px;
}

.JBSweOT8YFPAqEjMZWWA {
    height: 20px;
    margin-left: 2px;

    &.kgucp2jHaqtXAPLXt1xQ {
        margin-left: 12px;
    }
}
.xpkwuCm0anS6J8Dd6U42 {
    background-color: rgb(var(--surfaceLower));
    padding: 4px 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    gap: 4px;

    .yM0JSBpgvcM7CizJ9x_f {
        color: rgb(var(--textPrimary));
    }

    .RQsu2SVUSjUZKpYbAo9z {
        color: rgb(var(--textAccent));
    }

    .S9hgOiiun7IbCxiGA6q5 {
        color: rgb(var(--textSecondary));
    }

    .RntONzB6TN76aVJqVNr_ {
        width: 1px;
        height: 8px;
        background-color: rgb(var(--surfaceStrokeUp));
    }
}
.KZ9y4v9XgD0JqHoDtFOg {
    display: flex;
    flex-wrap: nowrap;
    gap: 2px;
    flex-basis: 100%;

    margin-top: 2px;

    width: fit-content;

    cursor: default;
}

.NVxP64xYfh_ubHIpVt36 {
    padding: 4px;
    background-color: rgb(var(--surfaceLower));
    border-radius: 4px;
    color: rgb(var(--textAuxiliary));
}

.R7GEMt4vqlZIgXk8vSwB {
    max-width: 150px;
}

.k6hKD2VG9pESv6eNNlEO {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    flex-basis: 100%;
    gap: 2px;
}

.gLCLbgQNV6ldb0C6AXwQ {
    overflow-y: auto;
    max-height: 400px;

    z-index: calc(Infinity);
}
.wDUoYcLSwUkqL8EiyCc4 {
  display: flex;
  align-items: center;
}

.JMD3mdDc7V8se_SzQRkL {
  z-index: 99;
}

.mf4DOGVmRPdVvU6dC6wR {
  padding: 6px;
  height: 26px;
}
.T0j8RgAR_AFJhW46SzNr {
  padding: 6px;
  height: 26px;
}
.UwFSr_lbHdagbIgrFr0h {
    display: flex;
    align-items: center;
    color: #6C42EB;
    font-family: Inter, TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 120%;
    letter-spacing: -0.42px;
    margin-left: 20px;
}

.axMu5SywXt2E_CRAXpoi {
    font-weight: 700;
}

.oiUrY6E9QDk60i4cRRuN {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 0 8px;
}

.Tepbi6kKpod0b7g9kkD3 {
    position: relative;
}

.L9t6JHVqYdG4Wb8voFOV {
    display: none;
    position: absolute;
    margin: 0;
    border: 0;
    padding: 6px;
    border-radius: 4px;
    background-color: light-dark(#EFF3F4, #202327);
    max-width: 180px;
    font-family: Inter, TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    color: light-dark(#536371, #71767B);
    font-size: 10px;
    line-height: 120%;
    letter-spacing: -0.2px;
}

.fvAkRTE_IGYH8kMnDeS8 {
    position-area: bottom;
    position-try: flip-block;
}

.D9Mdmq0OqbiUv2fFdG9d {
    transform: translateX(-50%);
}

.L9t6JHVqYdG4Wb8voFOV:popover-open {
    display: flex;
}

.Md9UUTEYXqEXAy0kAjUr {
    display: flex;
    width: auto;
    height: 20px;
    position: relative;
}

.Md9UUTEYXqEXAy0kAjUr::after {
    content: 'Author';
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: #352B55;
    border-radius: 4px;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 6px;
    color: #A987FF;
    font-size: 12px;
    font-weight: 700;
    font-family: Inter, TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.Yz8l3Qdg6KIBqxu59DiN {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

.TD0UfT1uGzP3NrMUOGYk {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}

.h1v1vIwPuYTnq8XF0Crc {
    width: 26px;
}

.QQAtiaV_hnt4ZvXDRQoa {
    display: flex;
    align-items: center;
    position: absolute;
    right: -14px;
    bottom: 1px;
    transform: translateX(50%);
    z-index: 1;
}

.QQAtiaV_hnt4ZvXDRQoa.hdbjqNYRtAOWVHDIj6fr {
    bottom: -5px;
    right: -37px;
}

.QQAtiaV_hnt4ZvXDRQoa:dir(rtl) {
    right: 50px;
    transform: translateX(-50%);
}

.QQAtiaV_hnt4ZvXDRQoa.hdbjqNYRtAOWVHDIj6fr:dir(rtl) {
    right: 67px;
}

.VX8_UpYMrIg7x9k19V5B {
    font-weight: 600;
    font-size: 13px;
    color: #6C42EB;
    margin-left: 10px;
    margin-right: 4px;
}

.aPkAFMUMTAByAC5w1tjZ {
    width: 15px;
}

.MgwYTMFDipWP_xLT99ln {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

._681y8f5ETVTPbdQyebB {
    display: flex;
    align-items: center;
    gap: 8px;
}

.PBntVMhAxlDKTaNqWkBp {
    display: flex;
    align-items: center;
    gap: 6px;
    color: rgb(var(--textAuxiliary));
    height: 24px;
}

button.PJ8B5UNHTBylFtK7Au8r {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    transition: color 0.5s;
    border-radius: 50%;
    color: rgb(var(--textSecondary));
    background-color: rgb(var(--surfaceStrokeUp));
}

.zjgzNOd9tj1PhV5Qcchz {
    display: flex;
}

.JjCPMP045s7xmPqDgKCA {
    width: 16px;
    border-radius: 50%;
}

.fFfiZz5ka7RjUzQyrGzV {
    width: 16px;
    height: 16px;
    transition: transform 0.5s;

    &.yDBpGyWZQsowy35iREak {
        transform: rotate(180deg);
    }
}

.yGGEVNPO9SvOgsTvaply {
    width: 1px;
    height: 8px;
    border: none;
    background-color: rgba(var(--textSecondary), 0.5);
}

.oDX9YVRb3gzxRHPSpZq9 {
    display: flex;
    align-items: center;
    gap: 2px;
}

.tOxNLPSFeyHUHFRsLuqs {
    display: flex;
    flex-direction: column;
    padding: 12px;
    border-radius: 8px;
    background-color: rgb(var(--bgSecondary));
    border: 1px solid rgb(var(--surfaceStrokeUp));
    z-index: 1;
    width: min-content;
    max-height: 212px;
    overflow: auto;
    box-shadow: 0 0 10px 0 rgba(192, 200, 205, 0.25);
}

.tOxNLPSFeyHUHFRsLuqs::-webkit-scrollbar {
    width: 0;
    height: 0;
}

.SuV92gzS9ENTYFCvFEAh {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-top: 8px;
    padding-bottom: 16px;
}

.hy9LKShaa38MI_hGK5x5 {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

button.Wi_tuPKM3dyd4Wuc_czB {
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 2px;
    height: 16px;
    background-color: rgb(var(--surfaceStrokeUp));
    border-radius: 8px;
    color: rgb(var(--textSecondary));
}

.OvhhbCe4k6m6B4VlfBgd {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 12px;
    height: 12px;
    border-radius: 50%;
    color: white;
}

.uKqtPgAmF9j6e7Y6tjKw {
    background-color: rgb(var(--surfaceTertiary));
    border: 1px solid rgb(var(--surfaceStrokeUp));
    overflow: hidden;
}

.G5DKCGlGTPbwLXXBDhOf {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 4px;
    height: 41px;
    padding: 0 12px;
    transition: 0.5s background-color;

    &:hover {
        background-color: rgb(var(--stateSurfaceSecondaryHover));
    }
}

.iBgp9cZRabp_TZlkgJQk {
    fill: rgb(var(--textAccent));
    margin-left: auto;
    margin-right: 4px;
}

.hV7wMVxlHeZe1PyuDB7Q {
    background-color: rgb(var(--surfaceStrokeUp));
}

.zavFNqwANN7jfB5a2Ynm {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 266px;
    width: 100%;
    border-radius: 12px;
    border: none;
    cursor: default;
    padding: 16px 0 0;
    color: rgb(var(--textPrimary));
    background-color: rgb(var(--surfaceTertiary));
    overflow: hidden;
    z-index: 2;
}

dialog:not([open]) {
    display: none;
}

.zavFNqwANN7jfB5a2Ynm::backdrop {
    background-color: rgb(0, 0, 0, 0.3);
}

.R4x0ptk7mwH6Km6D23I4 {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 0 16px;
}

.TK3dvaD64elX10lzyf3M {
    padding: 0 16px;
    color: rgb(var(--textPrimary));
}

.KbtNOOuE2hhKe8p5heJW {
    margin-left: 4px;
}

.dPKXgkPXGDRLRp2RIPpF {
    margin-left: 4px;
}

.sVfKDlBSZIAkBrMS_UBQ {
    display: flex;
    align-items: center;
    gap: 4px;
    padding-left: 6px;
}

.dLEh18VfKZS7FNxi09yO {
    max-width: 80px;
}

.eCKtHXIu99l41lCqGp42 {
    display: inline-flex;
    vertical-align: middle;
}

